# Laborator 4

## 1. Exercitii cu Pandas

1. Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.
    1. Afisati primele 5 linii din tabel
    1. Care este numarul de date din DataFrame?
    1. Comparati iesirea metodelor `info()` si `describe()`.
    1. Care e numarul de coloane? afisati numele lor.
    1. Cum e indexat setul de date? sunt valorile din index unice?
    1. Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
    1. Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?
    1. Transformati intr-un ant dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.
    1. Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din ref bibliografica 1 din curs e utila pentru intelegerea agregarilor.
    1. De cate ori s-a comandat 'Veggie Salad Bowl'?
    1. De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?
    1. Care sunt banii incasati pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)
1. Incarcati setul de date de la [https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv](https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv) intr-un obiect Pandas DataFrame.
    1. Cate echipe au participat la Euro 2012?
    1. Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.
    1. Care e numarul mediu de cartonase rosii date? Dar mediana?
    1. Care sunt echipele care au luat mai multe cartonase rosii decat media?
    1. Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.
    1. Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?
1. Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:
    1. Pe care continent se bea mai multa bere, in medie?
    1. Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.
    1. Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.

**Precizari**:
* Predarea se va face in saptamana 25-29 martie 2019.
* Temele se pot lucra in echipa se se depun in acest caz in repository-urile github create pentru prima tema.
* Punctajul problemelor va fi precizat in decursul acestei saptamanini, urmariti documentul.

# Exercitiul 1.

1. Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.

In [61]:
import pandas as pd

data_set = pd.read_csv('chipotle.tsv', sep='\t', header=0)
type(data_set)

pandas.core.frame.DataFrame

    A. Afisati primele 5 linii din tabel

In [62]:
data_set.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

    B. Care este numarul de date din DataFrame?

In [63]:
""" count() method doesn't count NaN values, that's why choice_description has fewer values than the others. 
Using len() method we know for sure the number of rows in data_set """
print(len(data_set))
print(data_set.count())

4622
order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

    C. Comparati iesirea metodelor `info()` si `describe()`.

In [64]:
""" info() method prints information about data_set like index and column dtypes, non-null values and memory usage. 
On the other hand, describe() method generates some basic statistical details like percentile, mean, maximum and minimum values
about data_set. Also, the last method seems to be applied only to columns with numeric values. """

data_set.info()
data_set.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

    D. Care e numarul de coloane? afisati numele lor.

In [65]:
print(f"Number of columns = {data_set.shape[1]}")
data_set.columns.values

Number of columns = 5

array(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'], dtype=object)

    E. Cum e indexat setul de date? sunt valorile din index unice?

In [66]:
""" This data_set doesn't contain unique values as index """
print(type(data_set.order_id))
data_set.order_id

<class 'pandas.core.series.Series'>

0          1
1          1
2          1
3          1
4          2
5          3
6          3
7          4
8          4
9          5
10         5
11         6
12         6
13         7
14         7
15         8
16         8
17         9
18         9
19        10
20        10
21        11
22        11
23        12
24        12
25        13
26        13
27        14
28        14
29        15
        ...
4592    1825
4593    1825
4594    1825
4595    1826
4596    1826
4597    1826
4598    1826
4599    1827
4600    1827
4601    1827
4602    1827
4603    1827
4604    1828
4605    1828
4606    1828
4607    1829
4608    1829
4609    1829
4610    1830
4611    1830
4612    1831
4613    1831
4614    1831
4615    1832
4616    1832
4617    1833
4618    1833
4619    1834
4620    1834
4621    1834
Name: order_id, Length: 4622, dtype: int64

    F. Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?

In [67]:
print(data_set.sort_values('item_name').item_name)
print(f"There are {len(data_set.item_name)} items")

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
3422    6 Pack Soft Drink
553     6 Pack Soft Drink
1916    6 Pack Soft Drink
1922    6 Pack Soft Drink
1937    6 Pack Soft Drink
3836    6 Pack Soft Drink
298     6 Pack Soft Drink
1976    6 Pack Soft Drink
1167    6 Pack Soft Drink
3875    6 Pack Soft Drink
1124    6 Pack Soft Drink
3886    6 Pack Soft Drink
2108    6 Pack Soft Drink
3010    6 Pack Soft Drink
4535    6 Pack Soft Drink
4169    6 Pack Soft Drink
4174    6 Pack Soft Drink
4527    6 Pack Soft Drink
4522    6 Pack Soft Drink
3806    6 Pack Soft Drink
2389    6 Pack Soft Drink
3132    6 Pack Soft Drink
3141    6 Pack Soft Drink
639     6 Pack Soft Drink
1026    6 Pack Soft Drink
              ...
2996         Veggie Salad
3163         Veggie Salad
4084         Veggie Salad
1694         Veggie Salad
2756         Veggie Salad
4201    Veggie Salad Bowl
1884    Veggie Salad Bowl
455     Veggie Salad Bowl
3223    Veggie Salad Bowl
2223    Veggie Salad Bowl
2269    Veggie Salad Bowl
4541    Veggie Salad Bowl
3293    Veggie Salad Bowl
186     Veggie Salad Bowl
960     Veggie Salad Bowl
1316    Veggie Salad Bowl
2156    Veggie Salad Bowl
4261    Veggie Salad Bowl
295     Veggie Salad Bowl
4573    Veggie Salad Bowl
2683    Veggie Salad Bowl
496     Veggie Salad Bowl
4109    Veggie Salad Bowl
738     Veggie Soft Tacos
3889    Veggie Soft Tacos
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object
There are 4622 items

    G. Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?

In [68]:
data_set.quantity.sum()

4972

H. Transformati intr-un ant dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.

In [69]:
price = pd.DataFrame(data_set.item_price.str.replace('$', '').astype('float'))
print(f'Total price = {price[data_set.item_name == "Chicken Crispy Tacos"].sum()}')
price[(data_set.item_name == 'Chicken Crispy Tacos')].describe()
# print(price[(data_set.item_name == 'Chicken Crispy Tacos')])

Total price = item_price    472.13
dtype: float64

       item_price
count   47.000000
mean    10.045319
std      2.260303
min      8.490000
25%      8.750000
50%      8.750000
75%     11.250000
max     17.500000

I. Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din ref bibliografica 1 din curs e utila pentru intelegerea agregarilor.

In [70]:
data_set.groupby('item_name').aggregate(sum)['quantity'].sort_values(inplace = False, ascending = False)[:3]

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Name: quantity, dtype: int64

    J. De cate ori s-a comandat 'Veggie Salad Bowl'?

In [71]:
data_set[data_set.item_name == 'Veggie Salad Bowl'].quantity.sum()

18

    K. De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?

In [72]:
len(data_set[(data_set.item_name == 'Canned Soda') & (data_set.quantity > 1)])

20

L. Care sunt banii incasati pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)

In [73]:
price = data_set.item_price.str.replace('$', '').astype('float')
data_set['items_price'] = price.multiply(data_set.quantity)
data_set.groupby('order_id')['items_price'].sum()

order_id
1       11.56
2       33.96
3       12.67
4       21.00
5       13.70
6       17.50
7       15.70
8       10.88
9       12.85
10      13.20
11      12.38
12      14.37
13      10.88
14      10.08
15      10.88
16      10.68
17      10.08
18      24.90
19      13.90
20      36.20
21      23.36
22      12.98
23      13.35
24      12.07
25      11.38
26      20.50
27      13.90
28      33.70
29      17.98
30      23.36
        ...
1805    20.00
1806    13.00
1807    18.64
1808    13.70
1809    14.45
1810    23.00
1811    29.25
1812    25.00
1813    35.00
1814    13.70
1815    12.50
1816    13.20
1817    13.00
1818    18.14
1819    13.20
1820    12.50
1821    13.70
1822    26.00
1823    12.15
1824    26.95
1825    66.50
1826    15.95
1827    32.95
1828    14.45
1829    24.25
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: items_price, Length: 1834, dtype: float64

# Exercitiul 2.

2. Incarcati setul de date de la https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv intr-un obiect Pandas DataFrame

In [50]:
import pandas as pd

data_set = pd.read_csv('Euro 2012 stats TEAM.csv', header=0)
data_set

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

    A. Cate echipe au participat la Euro 2012?

In [51]:
len(data_set.index)

16

    B. Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.

In [52]:
data_set.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17

    C. Care e numarul mediu de cartonase rosii date? Dar mediana?

In [53]:
print('Mean = {} and Median = {}'.format(data_set["Red Cards"].mean(), data_set["Red Cards"].median()))

Mean = 0.1875 and Median = 0.0

    D. Care sunt echipele care au luat mai multe cartonase rosii decat media?

In [54]:
mean = data_set["Red Cards"].mean()
data_set[data_set['Red Cards'] > mean].Team

6                  Greece
9                  Poland
11    Republic of Ireland
Name: Team, dtype: object

E. Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.

In [55]:
data_set[data_set.Team.str.startswith('G')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

    F. Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?

In [56]:
teams = ['England', 'Greece', 'Russia']
data_set.loc[data_set.Team.isin(teams),['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
6    Greece             30.7%
12   Russia             22.5%

# Exercitiul 3.

3. Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:

In [57]:
import pandas as pd

data_set = pd.read_csv('drinks.csv', header=0)
data_set

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NaN
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

    A. Pe care continent se bea mai multa bere, in medie?

In [59]:
data_set.groupby('continent')['beer_servings'].aggregate(sum).sort_values(ascending=False)[:1]/len(data_set['continent'])

continent
EU    45.181347
Name: beer_servings, dtype: float64

    B. Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.

In [25]:
data_set.groupby('continent')['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

    C. Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.

In [26]:
import numpy as np

data_set.groupby('continent')['beer_servings'].agg([min,max,np.mean])

           min  max        mean
continent
AF           0  376   61.471698
AS           0  247   37.045455
EU           0  361  193.777778
OC           0  306   89.687500
SA          93  333  175.083333